.band_page {
    h2.featured_band {
        font-size: 48px;
        font-weight: 600;
        margin-bottom: 5px;
        text-align: center;
        text-decoration: underline;
        @media (max-width: $phone) {
            font-size: 24px;
        }
    }
    .band_members, .setlist {
        h3 {
            text-decoration: underline;
        }
        p {
            margin-bottom: 0;
            font-weight: 500;
            line-height: 15px;
        }
        p.detail {
            font-size: 12px;
            font-weight: 400;
            color: $gray;
        }
        .band_member, .song {
            margin-bottom: 5px;
        }
    }
    .setlist {
        text-align: right;
        @media (max-width: $tablet) {
            text-align: center;
        }
    }
    .band_members {
        @media (max-width: $tablet) {
            text-align: center;
        }
    }
}
