.email_signup {
    width: 300px;
    background: lighten($black, 20%);
    padding: 10px;
    margin: 0 auto 30px;
    @include border-radius(3px);
    @media (min-width: $laptop) {
        float: right;
    }
    @media (max-width: $phone) {
        width: 100%;
    }
    .email_prompt {
        color: $gold2;
        text-align: center;
        font-weight: 500;
        font-size: 1.5em;
        line-height: 1em;
        margin-bottom: 20px;
    }
    img {
        margin-bottom: 20px;
    }
    form {
        .subscriptions {
            display: none;
        }
        .btn-default {
            border-color: desaturate(darken($gold2, 45%), 50%);
            width: 100%;
            background: $gold2;
            font-weight: 700;
            font-size: 18px;
            color: darken($gray, 10%);
            @include transition(all 0.25s);
            &:hover {
                background: darken($gold2, 10%);
            }
        }
    }
    .email_icon {
        font-size: 140px;
        text-align: center;
        color: white;
        height: 110px;
        i {
            position: relative;
            top: -40px;
        }
    }
}

