@font-face {
    font-family: Cubano Reguler;
    src: url("../fonts/Cubano Regular.otf") format("opentype");
}

@font-face {
    font-family: GrandHotel Regular;
    src: url("../fonts/GrandHotel Regular.otf") format("opentype");
}

@font-face {
    font-family: Molot;
    src: url("../fonts/Molot.otf") format("opentype");
}
