div.audio_player {
    background: lighten($gray, 40%);
    height: 40px;
    margin-left: 40px;
    max-width: 555px;
    div.play_btn {
        margin-left: -40px;
        cursor: pointer;
        background: $blue;
        width: 40px;
        padding: 5px 8px 8px;
        height: 40px;
        font-size: 24px;
        color: white;
        display: inline-block;
    }
    .progress_bar {
        display: inline-block;
        background: lighten($gray, 25%);
        height: 100%;
        width: 0%;
        vertical-align: top;
    }
    .play {
        width: 100%;
    }
    .duration, .audio_title {
        position: absolute;
        top: 2px;
        color: $blue;
        font-weight: 500;
        height: 40px;
        padding: 8px 30px 8px;
        text-align: right;
        font-size: 14px;
    }
    .duration {
        right: 10px;
    }
    .audio_title {
        left: 40px;
    }
}
