#river {
    background: white;
    padding: 30px 0;
    h2 {
        text-align: center;
        font-size: 62px;
        font-weight: 300;
        padding-bottom: 20px;
    }
    a {
        color: lighten($black, 15%);
        border-bottom: 2px solid lighten($gray, 40%);
        &:hover {
            text-decoration: none;
            border-color: $gray;
            color: $black;
        }
    }
    h3.title {
        margin: 0;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.4em;
        @media (max-width: 768px) {
            font-size: 18px;
        }
    }
    .story-box {
        margin-top: 30px;
    }
    .dateline, .byline {
        font-weight: 400;
        color: lighten($black, 20%);
        margin-bottom: 0;
    }
    .byline {
        font-size: 12px;
        margin-top: 5px;
    }
    #more_stories {
        text-align: right;
        font-size: 20px;
        font-weight: 300;
        @media (max-width: 768px) {
            font-size: 18px;
        }
    }
    .story_text {
        margin-top: 20px;
        font-weight: 300;
        font-size: 17px;
    }
    .story_image {
        max-width: 120px;
        max-height: 80px;
        img {
            margin-right: 10px;
        }
    }
}
