.video_wrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .video_tease {
        margin-top: -25px;
        z-index: 5;
    }
}

.below_video {
    display: none;
}

.band_page {
    .below_video {
        @media (max-width: $phone) {
            font-size: 12px;
        }
        display: block;
        position: relative;
        margin: -8px 0 30px;
        @media (max-width: $phone) {
            margin-top: -14px;
        }
        height: 40px;
        width: 100%;
        .extras, .social_logos {
            position: absolute;
            bottom: 0;
            color: $black2;
            font-weight: 500;
            a {
                color: $black2;
                &:hover {
                    text-decoration: none;
                    color: $blue;
                }
            }
        }
        .extras {
            position: absolute;
            bottom: 0;
            left: 5px;
        }
        .social_logos {
            position: absolute;
            bottom: 0;
            right: 5px;
        }
        .share_this {
            @media (max-width: $phone) {
                display: none;
            }
        }
    }
}

.video_tease {
    position: relative;
    width: 100%;
    i.play_tease {
        position: absolute;
        text-align: center;
        width: 100%;
        top: 40%;
        font-size: 42px;
        text-shadow: 1px 1px $black;
        color: lighten($gray, 45%);
    }
    div.black_film {
        position: absolute;
        top: 0;
        opacity: 0;
        height: 100%;
        width: 100%;
        background: black;
        @include transition(opacity 0.25s);
        &:hover {
            opacity: 0.2;
        }
    }
}

.video_tease.featured {
    i.play_tease {
        font-size: 72px;
        @media (max-width: $phone) {
            font-size: 42px;
        }
    }
}
