
<div class="col-sm-6 col-md-12 col-lg-12">
  {% for podcast in podcasts %}
      <div class="col-sm-3">
        <hr>
        <h2><a class="name" href="{{ podcast.Link}}" target="_blank">{{ podcast.Name }}</a></h2>
        <h5>{{podcast.Description}}</h5>
          {% if podcast.iTunes %}
              <h5><a href="{{ podcast.iTunes}}" target="_blank">Open in iTunes</a> {% if podcast.Stitcher %} | <a href="{{ podcast.Stitcher}}" target="_blank"> Open in Stitcher</a></h5>{% endif %}
          {% endif %}
      </div>
  {% endfor %}
</div>
