<nav class="navbar" role="navigation">
	<div class="container">
    <div class="navbar-header">

			<div id="vpr_logo">
          <a class="navbar-brand" href="http://www.vpr.net"><img class="img-responsive" src="./static/img/vpr-logo.svg" width="80px" height="30px" alt="VPR Homepage"></a>
      </div>

      <h1 id="navbar-title"><a href="{{ url_for('index') }}">PODCAST DIRECTORY</a></h1>

      {% if project_social %}
	      <ul class="list-inline social_logos">
	          <li><a href="https://www.facebook.com/sharer.php?u={{ project_social.url|urlencode }}" class="icon-alone" alt="Share on Facebook"><i class="icon ion-social-facebook"></i><span class="screen-reader-text">Facebook</span></a></li>
	          <li><a href="http://www.twitter.com/intent/tweet?url={{ page_url|urlencode }}&text={{ project_social.twitter_text|urlencode }}&via=vprnet&hashtags={{ project_social.twitter_hashtag|urlencode }}" class="icon-alone"><i class="icon ion-social-twitter" alt="Share on Twitter"></i><span class="screen-reader-text">Twitter</span></a></li>
	          <li><a href="https://plus.google.com/share?url={{ project_social.url|urlencode }}" class="icon-alone"><i class="icon ion-social-googleplus" alt="Share on Google Plus"></i><span class="screen-reader-text">Google Plus</span></a></li>
				</ul>
			{% endif %}

		</div>
  </div>
</nav>
