<div class="col-md-12 col-sm-12">
{% if landing %}
  <hr>
  <h2>NPR Podcasts </h2>
  <p>NPR's <a href="http://www.npr.org/podcasts/"><strong>full collection of podcasts</strong></a> offers a diversity of voices, sounds and stories. Here are three of our current favorites.</p>
{% endif %}

{% for podcast in podcasts %}
  {% if podcast.Category == "NPR" %}
    {% if landing %}
      {% include "_all_podcasts.html" %}
    {% else %}
      {% if loop.first %}
        {% include "_podcast_view.html" %}
      {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}
</div>
