<div id="underwriter">
    <h2>Looking for more?</h2>

    <div id='div-gpt-ad-1395762670111-0' style='width:300px; height:114px;'>
      <a href="http://earbud.fm/" target="_blank" alt="NPR's Earbud">
        <div class="content_box">
            <img class="img-responsive" src="http://mediad.publicbroadcasting.net/p/vpr/files/201601/logo-earbud-20160111.png"></a>
        </div>
    </div>

    <div id='div-gpt-ad-1395762670111-0' style='width:300px; height:130px;'>
      <a href="http://www.npr.org/podcasts/" target="_blank" alt="NPR Podcast Directory">
        <div class="content_box">
            <img class="img-responsive" src="http://www.npr.org/about/images/press/Logos/npr_logo_rgb.JPG"></a>
        </div>
    </div>

    <div id='div-gpt-ad-1395762670111-0' style='width:300px; height:145px;'>
      <a href="http://www.radiotopia.fm/" target="_blank" alt="Radiotopia">
        <div class="content_box">
            <img class="img-responsive" src="http://mediad.publicbroadcasting.net/p/vpr/files/201601/logo-radiotopia-with-courtesy-2016-01-11.png"></a>
        </div>
    </div>

    <div id='div-gpt-ad-1395762670111-0' style='width:300px; height:170px;'>
      <a href="https://gimletmedia.com/" target="_blank" alt="Gimlet Media">
        <div class="content_box">
            <img class="img-responsive" src="http://mediad.publicbroadcasting.net/p/vpr/files/201601/logo-gimlet-with-courtesy-2016-01-11.jpg"></a>
        </div>
    </div>

</div>
