{% if podcast.Image %}
  <div class="col-sm-3 box">
  <hr>
    <img class="img-responsive" src="{{ podcast.Image }}">
  </div>
{% endif %}

<div class="col-sm-3 view_box">
  <hr>
  <h2><a class="name" href="{{ podcast.Link}}" target="_blank">{{ podcast.Name }}</a></h2>
  <p>{{ podcast.Description }}</p>
  
  {% if podcast.RSS %}
    <h5><a class="name" href="{{ podcast.RSS}}" target="_blank">RSS</a>
    {% if podcast.iTunes %} |
      <a class="name" href="{{ podcast.iTunes}}" target="_blank">iTunes</a> {% if podcast.Stitcher %} | <a class="name" href="{{ podcast.Stitcher}}" target="_blank"> Stitcher</a></h5>{% endif %}
    {% endif %}
  {% endif %}
</div>
